<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h4 class="mb-3">About Me</h4>
                <p>{{ site.author.bio | truncate: 150 }}</p>
                <div class="social-links mt-3">
                    {% for social in site.data.social %}
                    <a href="{{ social.url }}" target="_blank" class="text-white me-3"><i class="bi {{ social.icon }}"></i></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <h4 class="mb-3">Quick Links</h4>
                <ul class="list-unstyled">
                    {% for item in site.data.navigation %}
                    <li class="mb-2"><a href="{{ item.url }}" class="text-white-50 text-decoration-none">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h4 class="mb-3">Newsletter</h4>
                <p>Subscribe to get updates on my latest projects and blog posts.</p>
                <form class="newsletter-form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email" required>
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="my-4 border-secondary">
        <div class="text-center">
            <p class="mb-0">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</p>
        </div>
    </div>
</footer>
